.dropdownHeading
{
	color: grey;
	font-size: 17px;
}
.buttonJoin
{
	background-color: #4CAF50; /* Green */
	border: none;
    border-radius: 50px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   	font-size: 16px;
   	margin: 4px 2px;
	cursor: pointer;

}
.buttonJoin:hover
{
	background-color: #1278CF;
	color: #F9F9F9;
}
.logo 
{
	color: #134995; font-size: 35px;font-weight: strong; font-family: serif;

}
.logo:hover
{
	color: #0000;
	
}
.firstNav
{
	margin-top: 0px;
}
.firstNav a:hover
{
	color:black;
}
.firstNav div
{
	margin-top: 5px;
}
.firstNav ul
{
	margin-top: 5px;
}
.proper
{
	width:100%;
	margin-left: 90px;
}
.proper li
{
	display:inline-block;
	font-size: 13px;
    width:20%;
    margin:0;
    padding:0;
}
.proper a
{
	color: white;
	text-align:center;
    margin:auto;
    border-left: 1px solid black;
    display:block;
}
.proper a:hover
{
	color: #134995;
	text-align:center;
    margin:auto;
    border-left: 1px solid black;
    display:block;
}